.TabbarWrapper {
	position: fixed;
	height: 56px;
	width: 100%;
	left: 0px;
	bottom: 0px;
	background-color: var(--bg_color);
	border-top: solid 1px var(--border_color);
	z-index: 999;
}

.Tabbar {
	height: 56px;
	width: 100%;
	display: flex;
}

.TabbarItem {
	display: flex;
	flex: 1;
	gap: 4px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: var(--tabbar_transition);
	cursor: pointer;
	z-index: 1;
	overflow: hidden;
}

.TabbarItemIcon, .TabbarItemIcon-selected {
	color: var(--inactive_color);
	transition: var(--tabbar_transition);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.TabbarItemIcon-selected {
	color: var(--primary_color);
}

.TabbarItemText, .TabbarItemText-selected {
	color: var(--inactive_color);
	transition: var(--tabbar_transition);
	font-size: 12px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	padding-left: 4px;
	padding-right: 4px;
	text-wrap: nowrap;
}

.TabbarItemText-selected {
	color: var(--primary_color);
}

.VersionBlock {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000;
	font-size: 8px;
	color: var(--text_color);
	opacity: 0.15;
}