/* .TextArea>textarea {
	min-height: 52px;
	outline: none;
	resize: none;

	font-size: 15px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid var(--bg_color);
	border-radius: 8px;
	color: var(--text_color);
	padding: 8px 16px;
}

.TextArea>textarea:focus {
	border: 1px solid var(--accent_color);
} */

.TextAreaWrapper {
	min-height: 52px;
	/* height: 52px; */
	position: relative;
	box-sizing: border-box;
	border-radius: 8px;
}

.TextAreaTextarea {
	min-height: 52px;
	outline: none;
	resize: none;
	/* height: 52px; */
	/* padding-top: 24px; */
	font-size: 15px;
	line-height: 16px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid var(--bg_color);
	border-radius: 8px;
	color: var(--text_color);
	padding: 8px 16px;
	padding-top: 26px;
}

.TextAreaTextarea:focus {
	border: 1px solid var(--accent_color);
	outline: none;
}

.TextAreaPlaceholder {
	font-size: 18px;
	line-height: 20px;
	position: absolute;
	top: 31px;
	left: 16px;
	pointer-events: none;
	color: var(--hint_color);

}

.TextAreaTextarea:focus+.TextAreaPlaceholder, .TextAreaTextarea:not(:placeholder-shown)+.TextAreaPlaceholder {
	top: 8px;
	font-size: 12px;
}

.TextAreaTextarea,
.TextAreaPlaceholder {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}