:root {
	--safe-area-inset-bottom: calc(100vh - var(--tg-viewport-stable-height, 100vh))
}

html, body {
	display: block;
	/* elstic */
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
}