* {
	margin: 0;
	padding: 0;
	font-family: system-ui, "Open Sans", sans-serif;


	&::-webkit-scrollbar {
		display: none;
	}
}

*::-webkit-scrollbar {
	width: 0;
}

html {
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

img {
	pointer-events: none;
}

/* Позиционирование */
html, body {
	display: block;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
}

/* Темы */
a {
	color: var(--link_color);
}

body {
	background-color: var(--bg_color);
	color: var(--text_color);
}

@import url("./variables.css");
@import url("./shortcuts.css");