* {
	margin: 0;
	padding: 0;
	font-family: system-ui, "Open Sans", sans-serif;


	&::-webkit-scrollbar {
		display: none;
	}

	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 0;
}

html {
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

img {
	pointer-events: none;
}

@import url("./position.css");
@import url("./variables.css");
@import url("./theme.css");
@import url("./shortcuts.css");