/* Отступ нижний */
:root {
	--tg-safe-area-inset-bottom: calc(100vh - var(--tg-viewport-stable-height, 100vh));
}

/* Цвета */
:root {
	--primary_color: #FFBE00;
	--link_color: #03A9F4;
	--link_color_click: #0081CC;

	--modal_back_button: var(--link_color);
	--modal_back_button_click: var(--link_color_click);

	--gold_color: #FFCF40;
	--silver_color: #C0C0C0;
	--bronze_color: #CD7F32;
	--green_color: #34C759;
	--red_color: #F15959;
}

/* Анимации */
:root {
	/* Логотип с версией; Текст – загрузка; */
	--splash_screen_transition: all .5s ease;


	/* Переключение отображения таббара */
	--tabbar_toggle_transition: all .2s ease;

	/* Анимация выбора TabbarItem – иконка и текст */
	--tabbar_item_transition: all .2s ease;


	/* Анимация перемещения круга при отпускании */
	--swiper_transition: all .2s ease;


	/* Popout Wrapper. Затемнение фона попаута */
	--popout_wrapper_transition: all .2s ease;

	/* Popout Content. Всплытие попаута */
	--popout_content_transition: all .2s ease;


	/* Panel Wrapper. Смена темы */
	--panel_wrapper_transition: all .2s ease;

	/* Panel Content. */
	--panel_content_transition: all .2s ease;

	/* Появление контента */
	--panel_content_render_transition: all .5s ease;


	/* Modal Wrapper. Затемнение фона модалки */
	--modal_wrapper_transition: all .2s ease;

	/* Modal Content. Смена темы. Появление контента. Плавное поднятие */
	--modal_content_transition: all .2s ease;

	/* Появление контента */
	--modal_content_render_transition: all .5s ease;

	/* Анимация кнопок шапки модалки */
	--modal_header_buttons_transition: all .2s ease;
}

@import url("./schemes/light.css");
@import url("./schemes/dark.css");