/* Отступ нижний */
:root {
	--tg-safe-area-inset-bottom: calc(100vh - var(--tg-viewport-stable-height, 100vh));
}

/* Цвета */
:root {
	--primary_color: #FFBE00;
	--link_color: #03A9F4;
	--link_color_click: #0081CC;

	--modal_back_button: var(--link_color);
	--modal_back_button_click: var(--link_color_click);

	--gold_color: #FFCF40;
	--silver_color: #C0C0C0;
	--bronze_color: #CD7F32;
	--green_color: #34C759;
	--red_color: #F15959;
}

/* Анимации */
:root {
	/* Логотип с версией; Текст – загрузка; */
	--splash_screen_transition: transform .5s ease, opacity .5s ease;

	/* Tabbar Wrapper. Тема. Переключение отображения */
	--tabbar_wrapper_transition: transform .2s ease, background-color .2s ease, color .2s ease, border-top .2s ease, padding-bottom .2s ease;

	/* Анимация выбора TabbarItem – иконка и текст */
	--tabbar_item_transition: background-color .2s ease, color .2s ease;


	/* Анимация перемещения круга при отпускании */
	--swiper_transition: all .2s ease;


	/* Popout Wrapper. Затемнение фона попаута */
	--popout_wrapper_transition: background-color .4s ease;

	/* Popout Content. Всплытие попаута */
	--popout_content_transition: opacity .2s ease, transform .2s ease;


	/* Panel Wrapper. Смена темы */
	--panel_wrapper_transition: background-color .2s ease;

	/* Panel Content. Появление контента. */
	--panel_content_transition: opacity .5s ease;


	/* Modal Wrapper. Затемнение фона модалки */
	--modal_wrapper_transition: background-color .4s ease;

	/* Modal Content. Смена темы. Плавное поднятие. Появление контента. */
	--modal_content_transition: background-color .2s ease, transform .2s ease, opacity .5s ease;


	/* Анимация кнопок шапки модалки */
	--modal_header_buttons_transition: color .2s ease;
}

@import url("./schemes/light.css");
@import url("./schemes/dark.css");