.Carousel {
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.CarouselLayer {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.CarouselItem {
	box-sizing: content-box;
	height: 100%;
}

.CarouselBullets {
	z-index: 99;
	position: absolute;
	bottom: 10vw;
	height: 8px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CarouselArrowsWrapper {
	width: 100%;
	top: calc(50% - 32px);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CarouselArrows {
	height: 32px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 16px;
}

.CarouselArrow {
	cursor: pointer;
	height: 32px;
	width: 32px;
	/* transition: all 0.3s ease; */
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.95;
	border-radius: 16px;
	z-index: 99;
}

.CarouselArrow:hover {
	/* transition: all 0s ease; */
	opacity: 0.8;
}

.CarouselArrow:active {
	opacity: 0.7;
}

.CarouselMargins #CarouselLayer>div {
	padding-left: 16px;
	/* box-sizing: border-box; */
}

/* .CarouselMargins #CarouselLayer>div:first-child {
	padding-left: 16px;
	box-sizing: border-box;
} */

.CarouselMargins #CarouselLayer>div:last-child {
	padding-right: 16px;
	/* box-sizing: border-box; */
}