#ModalWrapper {
	position: fixed;
	bottom: 0px;
	right: 0px;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, .85);
	display: flex;
	align-items: flex-end;
	z-index: 1001;
	transition: var(--default_transition);
}