#PanelSplashScreen_LogoWrappper {
	transition: var(--splash_screen_transition);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

#PanelSplashScreen_Logo_Version {
	font-family: sans-serif;
	line-height: 20px;
	font-weight: bold;
	font-size: 20px;
	color: var(--primary_color);
	opacity: 0.5;
	letter-spacing: 1px;
	transform: translateX(0);
}

#PanelSplashScreen_LoadingText {
	position: fixed;
	box-sizing: border-box;
	width: calc(100vw - 32px);
	padding: 16px;
	line-height: 18px;
	font-size: 18px;
	color: var(--hint_color);
	transition: var(--splash_screen_transition);
	text-align: center;
}