#ARMUI_Swiper_circle {
	position: fixed;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
	touch-action: manipulation;
	z-index: 998;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.ARMUI_Swiper_circle_content {
	color: black;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--default_transition);
}