body[scheme=light] {
	--bg_color: #FAF9F6;
	--bg_color_2: #F0EFEC;
	--bg_color_3: #E6E5E2;
	/* #DCDBD8 #D2D1CE #C8C7C4 */

	--border_color: #E6E5E2;
	--inactive_color: #B8B8B8;

	--text_color: #000000;
	--hint_color: #B8B8B8;

	--skeleton_base_color: #E9DCDC;
	--skeleton_highlight_color: #F5F5F5;

	--modal_swipe_handler: #DCDBD8;
	--modal_swipe_handler_drag: #D2D1CE;
	--modal_swipe_handler_action: #C8C7C4;

	--modal_exit_button: #DCDBD8;
	--modal_exit_button_click: #C8C7C4;

	--swiper_bg_color: #00000010;
}