.Paragraph {
	display: flex;
	gap: 8px;
	padding: 8px 0;
}

.Paragraph_Line {
	min-width: 4px;
	border-radius: 2px;
	background-color: var(--accent_color);
}

.Paragraph_Content {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
}